html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
    background-color: #202020;
    /*color: rgba(255, 255, 255, 0.5);*/
    color:#e6e6e6;
}
h1, h2, h3{
    /*color: #9eb4ba;*/
    color:#c8eaf3;
}

p{
    text-align: justify;
 }


.header-content-inner h1{
    font-size: 30px;

}

.navbar{
    background-color: black;
    color: white;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: inherit;
    background-color: transparent;
}

.primary{
    max-width: 50px;
    border-color: #AA4E4E;
    border-width: 3px;
}

.section-heading{
    margin-top: 0;
    font-style: italic;
}
.sb-page-header{
    position: relative;
    padding: 70px 30px;
    color: rgba(255,255,255,.8);
    background-color: #588A8C;
    margin-bottom: 40px;
    margin-top: 10px
    font-size: 20px;
}

.side-nav{
    background-color: none;
    color: white;
}

.well{
    background: none;
    /*color: white; */
}
.well a{
    color: #9BB5B7;
}

.dFooter{
    text-align: center;
    background: transparent;
    border-top: 1px solid white;
}

.widget > ul
{
    padding-left: 0;
    list-style: none;
}

.widget > ul > li
{
    margin-bottom: 2px;
    margin-left: 10px;
}

.widget > ul > li > a
{
    color: #9BB5B7;
}
    

a:hover,
a:focus {
    
}
